/* For rights see LICENSE.TXT */
body {
	-webkit-touch-callout: none; /* to disable text select*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}