/* For rights see LICENSE.TXT */
#texturingHeaderTable {
	width: 100%;
}
#texturingHeaderTable td {
	border: 1px solid #000;
	height: 70px;
}

#texturingHeaderTable .header-img {
	width: 120px;
}
#texturingHeaderTable .header-img img {
	width: 90px;
	height: auto;
	margin: 0px auto;
	margin-left: 14px;
}
#texturingHeaderTable .header-mid {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#texturingHeaderTable .header-left {
	width: 180px;
	padding-top: 5px;
    padding-left: 10px;
}

.header-left .level-1 {
	font-size: 12px;
}
.header-left .level-2 {
	font-size: 10px;
	margin-left: 68px;
}
.header-left .level-3 {
	margin-left: 49px;
}
.header-left .level-4 {
	font-size: 10px;
	margin-left: 68px;
}
#texturingComment {
	display: none;
}
#footer {margin-top: 3px;}
#footer td{
	border: 1px solid #000;
	height: 30px;
}
#footer .left-foot {
	width: 550px;
	font-size: 10px;
	text-align: center;
}
#footer .right-foot {
	width: 150px;
	font-size: 12px;
	text-align: center;
}