/* For rights see LICENSE.TXT */
@media print {
	#texturingTable {
		margin: 0px auto;
		margin-bottom: 20px;
		margin-top: 2px;
		border-spacing: 0;
		border-collapse: collapse;
	}

	#texturingTable thead th {
		font-size: 20px !important;
		color: #000;
	}

	#texturingTable td, #texturingTable th {
		border: 1px solid #000;
		text-align: left !important;
		padding-left: 5px;
	}

	#texturingTable td.nr {
		font-size: 20px;
		width: 50px;
	}
	#texturingTable td.shift {
		width: 400px;
	}
	#texturingTable td.mtd {
		width: 120px;
	}
	#texturingTable td.new-td {
		max-width: 100px;
		font-size: 18px;
	}

	#texturingDateTable {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#texturingDateTable td{
		width: 130px;
	}
	#footer-wrapper {
		page-break-inside: avoid;
	}

	#texturingHeaderTable {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	#texturingHeaderTable td {
		border: 1px solid #000;
		height: 70px;
	}

	#texturingHeaderTable .header-img {
		width: 120px;
	}
	#texturingHeaderTable .header-img img {
		width: 90px;
		height: auto;
		margin: 0px auto;
		margin-left: 14px;
	}
	#texturingHeaderTable .header-mid {
		text-align: center;
		font-size: 16px;
		font-weight: bold;
	}

	#texturingHeaderTable .header-left {
		width: 180px;
		padding-top: 5px;
		padding-left: 10px;
	}

	.header-left .level-1 {
		font-size: 12px;
	}
	.header-left .level-2 {
		font-size: 10px;
		margin-left: 68px;
	}
	.header-left .level-3 {
		margin-left: 49px;
	}
	.header-left .level-4 {
		font-size: 10px;
		margin-left: 68px;
	}
	#footer {
		margin-top: 3px;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	#footer td{
		border: 1px solid #000;
		height: 30px;
	}
	#footer .left-foot {
		width: 550px;
		font-size: 10px;
		text-align: center;
	}
	#footer .right-foot {
		width: 150px;
		font-size: 12px;
		text-align: center;
	}
}