/* For rights see LICENSE.TXT */
@media print {
    .navbar *, .container *, .container-other *, #status *, #leftUppercorner *, .left-header *, #right *,
    #toaster, #marked-modal *, #error-modal *, #productModal *, #successModal *, #produceModal * {
        display: none !important;
    }

    #plansummaryModal .modal-header,
    #plansummaryModal .modal-title,
    #plansummaryModal .modal-footer,
    #plansummaryModal .modal-content .print-left textarea,
    #plansummaryModal .modal-content #dragabbleMachines,
    #plansummaryModal .modal-content #plansummaryName,
    #plansummaryModal .modal-content #prioritiesTable tfoot,
    #plansummaryModal .modal-content .print-product-row:not(.moving),
    .cd-top,
    body > .footer {
        display: none !important;
    }

    #plansummaryDate {
        text-align: center;
        font-weight: bold;
        margin: 20px 0 20px 0;
    }

    #plansummaryProducts {
        overflow: auto;
    }

    .print-machine-head {
        width: 48px;
        height: 90% !important;
        border: 1px solid black;
        float: left;
    }

    .print-product {
        width: 60px;
        height: 100%;
        background-color: #555;
        float: left;
        text-align: center;
        line-height: 16px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .print-product-row div + div {
        border-left: 0;
    }

    .print-product-row {
        font-size: 12px;
        text-align: center;
        display: block;
        height: 18px;
        position: absolute;
    }

    #plansummaryProducts ul {
        list-style-type: none;
        padding: 0;
    }

    #plansummaryProducts ul li {
        list-style: none;
        display: flex;
    }

    #plansummaryModal .modal-dialog {
        width: 100%;
        margin: 0;
        float: none;
    }

    .print-left {
        width: 100%;
    }

    .summary-body {
        position: relative;
    }

    /* Priorities */
    #plansummaryPriorities {
        position: absolute;
    }

    #prioritiesTable {
        float: left;
        text-align: center;
        border-spacing: 0;
        border-collapse: collapse;
    }

    #prioritiesTable td {
        width: 60px;
        height: 18px;
        border: 1px solid black;
        text-transform: uppercase;
    }

    #plansummaryPriorities div {
        font-weight: bold;
    }

    /* Comments */
    #plansummaryCommentWrapper {
        position: absolute;
    }

    #printSection {
        display: none !important;
    }
}