/* For rights see LICENSE.TXT */
body {
    font-family: arial;
}

body.table-loaded #ajax_loader {
    opacity: .7;
}

#printSection {
    display: none !important;
}

#plansummaryDate {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.print-machine-head {
    width: 48px;
    height: 100% !important;
    border: 1px solid black;
    float: left;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
}

.print-product {
    width: 60px;
    height: 100%;
    background-color: #EEE;
    float: left;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    border: 1px solid black;
}

.print-product-row {
    font-size: 12px;
    text-align: center;
    height: 18px;
    z-index: 1;
}

.print-product-row.moving {
    position: absolute;
}

.print-product-row div + div {
    border-left: 0;
}

#plansummaryProducts ul {
    list-style-type: none;
}

#plansummaryProducts ul li {
    list-style: none;
}

.print-left {
    width: 100%;
}

.print-left textarea {
    resize: vertical;
    width: 100%;
    background: transparent;
    border: 0;
}

.summary-body {
    position: relative;
}

.print-left textarea:focus {
    outline: none;
}
#plansummaryName {
    padding-bottom: 8px;
}

#plansummaryName input {
    width: 100%;
    padding: 8px;
    text-align: center;
}

#dragabbleMachines {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 16px;
    gap: 4px;
    border: 1px solid black;
    padding: 8px;
    background: #efefef;
    min-height: 36px;
}

#dragabbleMachines > div {
    background: white;
    cursor: move;
}

.modal-make-plan #print-bttn,
.modal-make-plan #texturingHeaderTable,
.modal-make-plan #plansummaryDate,
.modal-make-plan #footer {
    display: none !important;
}

.modal-make-plan .print-left {
    background: #efefef;
    background-size: 10px 10px;
    border: 4px dashed #ccc;
}

.modal-make-plan .print-left::before {
    content: "Ievelc mašīnas te";
    color: #ddd;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Priorities */
#plansummaryPriorities {
    position: absolute;
    bottom: 150px;
    left: 48px;
}

#prioritiesTable {
    text-align: center;
}

#prioritiesTable td {
    width: 72px;
    height: 18px;
    border: 1px solid black;
    text-transform: uppercase;
}

#prioritiesTable tfoot td {
    border: 0;
}

#prioritiesTable tfoot button {
    float: left;
    margin-top: 4px;
    font-weight: 600;
}

#plansummaryPriorities div {
    font-weight: bold;
}

#plansummaryPriorities span {
    float: right;
    font-size: 18px;
    cursor: move;
}

#plansummaryModal .modal-dialog {
    width: 700px;
}

#plansummaryModal .modal-content:not(.modal-make-plan) .print-left textarea,
#plansummaryModal .modal-content:not(.modal-make-plan) #dragabbleMachines,
#plansummaryModal .modal-content:not(.modal-make-plan) #plansummaryName,
#plansummaryModal .modal-content:not(.modal-make-plan) .glyphicon-move,
#plansummaryModal .modal-content:not(.modal-make-plan) .print-product-row:not(.moving) {
    display: none;
    resize: none;
}

/* Comments */
#plansummaryCommentWrapper {
    position: absolute;
    height: 80px;
    bottom: 40px;
    left: 32px;
    width: auto;
}

#plansummaryCommentWrapper > span.glyphicon {
    font-size: 18px;
    cursor: move;
    position: absolute;
    right: 0;
    top: -20px;
}

#plansummaryComment {
    height: 100%;
    padding: 8px;
    border: 1px solid #777;
    border-radius: 4px;
    resize: both;
    overflow: auto;
    width: 602px;
}

.container-other {
    max-width: 1440px;
    padding: 0 16px;
    margin: 60px auto 0 auto;
}

/* make left and right DIV container scrollable */
#right {
    position: relative;
    margin: 108px auto auto;
    width: 100%;
}
#right ~ .footer {
    display: none;
}

/* timetable */
#table2 {
    /* align table to the right */
    margin-left: -2px !important;
    border-bottom: 1px solid #5B82A8;
}

.panel-fixed {
    margin-top: 43px;
    min-width: 1200px;
    left: 0;
    right: 0;
    border-color: #DDD !important;
    background-color: #DDD !important;
    border: 0px solid #B9B9B9 !important;
    border-radius: 0px !important;
    z-index: 99;
    position: fixed;
    -webkit-transform: translateZ(0);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2) !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,dddddd+0,f6f6f6+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #dddddd 0%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #dddddd 0%, #f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #dddddd 0%, #f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#f6f6f6', GradientType=0); /* IE6-9 */

}

.panel-fixed .panel-body {
    padding: 8px 24px 5px 24px;
}

.panel-fixed .form-control {
    width: 120px !important;
}

/* table cells */
.table1-header td, .table-container td, .table-temp td,
.table1-header th, .table-container th, .table-temp th {
    min-width: 70px;
}

#right table td {
    position: relative;
}

#right table td,
th {
    border-style: double;
    height: 23px;
    font-size: 10pt;
    border-width: 0px 1px 1px 0px;
    border-color: #d0d0d0;
    font-weight: normal;
}

#right table td {
    text-align: center;
}

/* last row and last column without border */
.noborder {
    border-width: 0px;
}

/* green objects */
.blue {
    border-style: none !important;
    height: 22px;
    z-index: 1 !important;
    position: absolute;
    top: 0;
    width: 69px;
    font-size: 12px;
    line-height: 24px;
}

.blue:not([fixed="true"]) {
    cursor: pointer;
}

.marked {
    border: 3px solid #000 !important;
    width: 69px;
    height: 22px;
    line-height: 16px;
}

.temp-marked {
    background-color: rgba(64, 149, 201, 0.25);
    position: absolute;
    width: 69px;
    height: 23px;
    margin-top: -12px;
    z-index: 3;
}

.free {
    background-color: #EEE;
}

.td-marked {
    background-color: #F27979 !important;
}

/* dark cells (first column and table header) */
.dark, .redips-mark {
    background-color: #dedede;
    width: 65px;
}

.machine-row,
.machine-col {
    background-color: #ededed;
}

.machine-row.dark, .machine-row.redips-mark {
    background-color: #d9d9d9;
}

.table1-header {
    z-index: 8;
    margin-left: -2px !important;
}

.datepick-popup {
    z-index: 10000 !important;
}

.left-header {
    float: left;
    border-left: 7px solid #5B82A8;
    margin-top: 154px;
    position: fixed;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.left-header th label, .left-header input[type=checkbox] {
    margin: 0;
}

.left-header .button-checkbox button {
    padding-left: 0;
    padding-right: 0;
    max-width: 61px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left-header .button-checkbox button:focus,
.table1-header .button-checkbox-time button:focus,
.btn.btn-success:focus,
.btn.btn-danger:focus,
.btn.btn-success:active:focus,
.btn.btn-danger:active:focus {
    outline: none;
}

.table-container {
    float: left;
    border-bottom: 7px solid #5B82A8;
}

#leftUppercorner {
    width: 69px;
    height: 47px;
    background-color: #E0E0E0;
    margin-top: 108px;
    border-top: 7px solid #5B82A8;
    border-left: 7px solid #5B82A8;
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 11;
}

#status {
    width: 100%;
    height: 22px;
/ / background-color: #DDD;
    background: rgba(33, 76, 119, 1);
    margin-top: 86px;
    position: fixed;
    z-index: 12;
    border-bottom: 1px solid #658DB5;
    -webkit-transform: translateZ(0);
}

#status div {
    font-size: 12px;
    margin-top: 3px;
    margin-right: 10px;
    color: #DDD;
    float: right;
}

.day-td {
    background: #5B82A8;
    border-color: #DDC5B5 !important;
    border-top-color: #5B82A8 !important;
    font-size: 12pt !important;
    color: #0C1B2A;
}

.blank {
    background-color: #E0E0E0 !important;
    border-color: #E0E0E0 !important;
}

.table1-header .header-time td {
    background-color: #CCC;
}

.left-header tbody th {
    position: relative;
}

.left-header tbody span.start:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 4px;
    background: black;
    z-index: 7;
    left: 0;
    top: -2px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.footer {
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    text-align: center;
    color: #A77F8B;
}

.page-date-header {
    text-align: center;
    background-color: #B5FFAB;
    font-size: 16px;
}

.modal-open {
    overflow: scroll !important;
}

#marked-modal .modal-dialog {
    width: 150px !important;
}

#marked-modal .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid #777;
}

#marked-modal .modal-dialog, #error-modal .modal-dialog {
    margin-top: 0% !important;
    float: left !important;
}

#marked-modal .modal-body {
    padding: 0px;
}

#marked-modal .btn {
    border-radius: 0px;
    border-width: 1px;
}

#calendarTable, #productsTable {
    margin: 0 auto;
}

#calendarTable td, #productsTable td, #produceTable td {
    padding: 0;
    vertical-align: baseline;
}

#productsTable td:last-child,
#productsTable td:nth-last-child(2) {
    text-align: right;
}

#productsInfoTable td {
    padding: 0;
}

#calendarTable thead th, #productsTable thead th, #productsInfoTable thead th {
    border-style: inherit;
    font-weight: 700;
    vertical-align: middle;
    text-align: left;
    padding-left: 0;
}

.current-day td:nth-child(1), .current-day td:nth-child(2) {
    background-color: #5CB85C;
    color: #FFF !important;
    font-weight: bold;
}

#productsTable tbody tr:hover, #calendarTable tbody tr:hover, #produceTable tbody tr:hover {
    background-color: #DAE1EB;
}

#calendarTable .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#calendarTable tbody td {
    padding: 2px 0;
}

#productsTable button {
    margin: 0 !important;
    vertical-align: baseline;
}

#productsTable td.select-color {
    padding: 4px;
    vertical-align: middle;
    cursor: pointer;
}

#ajax_loader:not(.planning-loader) {
    position: fixed;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#ajax_loader:not(.planning-loader) .spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#productModal .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#planSummaryFilter {
    width: 90px;
    float: right;
}

.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
    background-color: #FFF;
    z-index: 10;
    margin-top: 40px;

}

.floatingHeader th {
    background-color: #FFF;
}

#labelProduct {
    font-size: 30px !important;
    font-weight: 500 !important;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}

#bttn-add-product {
    font-size: 0.8em;
    padding: 0 2px 4px 4px !important;
}

#deselect-machine-bttn {
    padding: 12px 23px 12px 23px !important;
    background-color: #E0E0E0;
    border-radius: 0;
}

#labelProduct > button {
    vertical-align: middle
}

.tt-open {
    background-color: white;
    width: 150px;

    border: 1px solid #CCC;
}

.tt-selectable {
    border-bottom: 1px solid #CCC;
}

.tt-selectable:hover {
    background-color: #EEE;
}

.button-checkbox .btn-xs, .button-checkbox-time .btn-xs {
    border-radius: 0;
    border-color: #FFF;
    position: relative;
    z-index: 5;
}

.button-checkbox .btn-xs .state-icon, .button-checkbox-time .btn-xs .state-icon {
    margin-right: 2px;
}


.tooltip {
    z-index: 0 !important;
}

#table2 .tooltip-inner {
    min-width: 80px;
    border-top: 1px solid #DDE6F0 !important;
    border-radius: 0px;
}

/* Error custom tooltip class */
.tooltip-error .tooltip-inner {
    background-color: #000 !important;
    color: #FFF !important;
    max-width: 400px !important;
    padding: 8px 12px 10px 12px;
}

.tooltip-error .tooltip {
    font-size: 16px !important;
    z-index: 0 !important;
}

/* Error custom tooltip class */
input#product, input#product {
    text-transform: uppercase;
}

.logout {
    font-size: 13px;
}

.logout .dropdown-menu > li:first-child span {
    padding-right: 5px;
}

.logout .badge {
    position: absolute;
    right: 4px;
    top: 11px;
    background-color: #d9534f;
    padding: 2px 4px 2px 5px;
    font-size: 8px;
    min-width: auto;
    font-weight: normal;
}

.dropdown-menu {
    background-color: #FFF !important;
    border-radius: 0px !important;
    top: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F2F2F2 !important;
}

.dropdown-menu > li > a {
    color: #111 !important;
}

.dropdown-menu > .active > a {
    background-color: #DDD !important;
}

.dropdown-menu.plan-menu {
    min-width: 200px;
}

.dropdown-menu.plan-menu li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.dropdown-menu.plan-menu li > a button{
    padding: 8px;
}

.dropdown-menu.plan-menu li > a > div {
    padding-left: 8px;
    display: flex;
    column-gap: 4px;
}

.dropdown-menu.plan-menu .plan-create > a {
    justify-content: center;
    column-gap: 8px;
    padding: 8px 0 6px 0;
    background: #efefef;
}

.dropdown-menu.plan-menu .plan-create > a button {
    padding: 4px 6px 6px;
}

#mainNavBar, #mainNavBar .container-fluid, #mainNavBar div.navbar-header,
#mainNavBar .navbar-brand, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    height: 47px !important;
}

.navbar {
    min-height: 40px !important;
}

#mainNavBar ul.nav.navbar-nav > li > a, #mainNavBar div.navbar-header a.navbar-brand {
    color: #333 !important;
    height: 47px;
    line-height: 16px;
}

#mainNavBar ul.nav.navbar-nav .main-menu-drawer > a {
    padding: 0 15px 0 6px;
    border-bottom: 1px solid #B9B9B9;
    display: flex;
    align-items: center;
}

#mainNavBar ul.nav.navbar-nav .main-menu-drawer > a:hover {
    border-bottom: 1px solid #DDD;
}

#mainNavBar ul.nav.navbar-nav .main-menu-drawer > a button {
    margin: 0;
    height: 100%;
    border: none;
}

#mainNavBar ul.nav.navbar-nav .main-menu-drawer > a button:hover {
    background: transparent;
}

.dropdown-menu > li > a {
    height: auto;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #ededed !important;
    border-bottom: 1px solid #DDD;
}

.container-fluid {
    min-width: 752px !important;
    background-color: #DDDDDD;
    border-bottom: 1px solid #B9B9B9;
    padding: 0 24px !important;
}

#mainNavBar {
    border-bottom: 1px #eee solid;
    min-width: 752px !important;
}

#mainNavBar div.navbar-header a.navbar-brand {
    margin-left: 0;
    margin-right: 8px;
    padding: 6px;
}

#mainNavBar div.navbar-header a.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
}

.modal-content {
    border-radius: 0px !important;
}

.login-body {
    background-color: #EEE;
}

.login:hover {
    color: #FAFAFA !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,5395c1+0,207cca+99 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #5395c1 0%, #207cca 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #5395c1 0%, #207cca 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #5395c1 0%, #207cca 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#207cca', GradientType=0); /* IE6-9 */
    border-color: #204d74 !important;
}

.login:active {
    color: #F6F6F6 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,5395c1+0,207cca+99 */
    background-color: #5395C1 !important;
    border-color: #204d74 !important;
}

pre {
    border-radius: 0px !important;
}

#today-line {
    width: 6px;
    height: 661px;
    background-color: #B50303;
    z-index: 9;
    position: absolute;
    opacity: 0.4;
}

.selectedRow {
    outline: rgb(199, 219, 199) solid 5px;
}

.errorRow {
    outline: rgba(255, 0, 0, 0.5) solid 5px;
}

@media (max-width: 1150px) {
    #mainNavBar, #mainNavBar .container-fluid, #mainNavBar div.navbar-header,
    #mainNavBar .navbar-brand, .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
        font-size: 12px;
    }

    #mainNavBar ul.nav.navbar-nav > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar-default .navbar-form {
        padding-left: 5px;
        padding-right: 0;
    }
}

.machines-table {
    counter-reset: sequance;
}

.machines-table tbody tr .checkbox > label {
    padding: 0;
}

.machines-table tbody tr .td3::before {
    counter-increment: sequance;
    content: counter(sequance);
}

.not-editable {
    color: #888;
}

.fixed-pos::after {
    content: "F";
    font-size: 6px;
    top: -3px;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

/*
 ----------------- LOGIN -------------------
*/
.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.wrapper .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.wrapper .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.wrapper .form-signin .form-control:focus {
    z-index: 2;
}


.wrapper .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper .form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#generate-colors {
    float: right;
    margin-top: 27px;
}

/*
 ----------------- LOGIN END -------------------
*/

/* --------------------------------
Back to top design
-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

/*
################## CSS LOADER FOR AJAX REQUESTS ##################
*/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
