/* For rights see LICENSE.TXT */
@media print {
	body {
		margin: 0 0 0 8px;
	}
	.navbar *, .container-other, .mce-tinymce, .cd-top, #add-col-bttn, #toaster,
	#remove-col-bttn, #add-col-input, #load-signature-bttn, #save-signature-bttn, .footer {
		display: none !important;
	}

	#texturingModal .modal-header, #texturingModal .modal-title,
	#texturingModal .modal-footer, #texturingTable {
		display: none !important;
	}


	#texturingComment {
		margin-bottom: 30px;
	}
	#texturingModal .modal-body h2 {
		text-align: center;
		margin-bottom: 40px;
		margin-top: 40px;
	}
	#texturingModal .modal-body h2 span {
		color: #FF5252
	}

	#texturingModal .modal-body {
		position: relative;
	}

	#productsModal .modal-dialog {
		width: 700px;
	}

	#texturingTable {
		margin: 2px auto 20px;
		border-spacing: 0;
		border-collapse: collapse;
	}

	#texturingTable thead th {
		font-size: 20px !important;
		color: #000;
	}

	#texturingTable td, #texturingTable th {
		border: 1px solid #000;
		text-align: left !important;
		padding-left: 5px;
	}

	#texturingTable td.nr {
		font-size: 20px;
		width: 50px;
	}
	#texturingTable td.shift {
		width: 400px;
	}
	#texturingTable td.mtd {
		width: 120px;
	}
	#texturingTable td.new-td {
		max-width: 100px;
		font-size: 18px;
	}

	#texturingDateTable {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#texturingDateTable td {
		width: 130px;
	}
	#footer-wrapper {
		page-break-inside: avoid;
	}

	#texturingHeaderTable {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	#texturingHeaderTable td {
		border: 1px solid #000;
		height: 70px;
	}

	#texturingHeaderTable .header-img {
		width: 120px;
	}
	#texturingHeaderTable .header-img img {
		width: 90px;
		height: auto;
		margin: 0 auto 0 14px;
	}
	#texturingHeaderTable .header-mid {
		text-align: center;
		font-size: 16px;
		font-weight: bold;
	}

	#texturingHeaderTable .header-left {
		width: 180px;
		padding-top: 5px;
		padding-left: 10px;
	}

	.header-left .level-1 {
		font-size: 12px;
	}
	.header-left .level-2 {
		font-size: 10px;
		margin-left: 68px;
	}
	.header-left .level-3 {
		margin-left: 49px;
	}
	.header-left .level-4 {
		font-size: 10px;
		margin-left: 68px;
	}
	#footer {
		margin-top: 3px;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	#footer td{
		border: 1px solid #000;
		height: 30px;
	}
	#footer .left-foot {
		width: 550px;
		font-size: 10px;
		text-align: center;
	}
	#footer .right-foot {
		width: 150px;
		font-size: 12px;
		text-align: center;
	}

	.divTable {
		display: table;
		width:auto;
	}

	.divRow {
		display:table-row;
		width:auto;
		page-break-inside: avoid;
		page-break-after:auto;
	}

	.divRow:first-child {
		font-size: 20px !important;
		color: #000;
		font-weight: bold;
	}

	.divRow:not(:last-child) .divCell {
		margin-bottom: -1px;
	}

	.divRow .divCell:not(:first-child) {
		margin-left: -1px;
	}

	.divCell {
		float: left;/*fix for  buggy browsers*/
		display: table-column;
		border: 1px solid  #000;
		text-align: left !important;
		padding-left: 5px;
		white-space: pre-wrap;      /* CSS3 */
		white-space: -moz-pre-wrap; /* Firefox */
		white-space: -o-pre-wrap;   /* Opera 7 */
		word-wrap: break-word;      /* IE */
		page-break-inside: avoid;
		page-break-after: auto;
	}

	.divCell.nr {
		font-size: 20px;
	}

	#texturingModal .modal-body .sticker-container {
		width: 100%;
		display: block;
	}

	#texturingModal .modal-body .sticker {
		padding: 0 24px 0 18px;
		width: 33.33%;
		box-sizing: border-box;
		display: inline-block;
		height: 2.5cm;
		margin-bottom: 0.35cm;
		position: relative;
	}

	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(3n) {
		padding-left: 24px;
	}

	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(21n),
	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(21n - 1),
	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(21n - 2) {
		height: auto;
		margin-bottom: 0;
	}

	#texturingModal .modal-body .sticker > div {
		width: 35%;
		vertical-align: top;
		box-sizing: border-box;
		display: inline-block;
		margin-top: 8px;
		position: absolute;
	}

	#texturingModal .modal-body .sticker .sticker-left {
		left: 18px;
		width: calc(35% - 18px);
	}

	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(3n) .sticker-left {
		left: 24px;
	}

	#texturingModal .modal-body .sticker .sticker-mid {
		width: calc(26% - 16px);
		margin-top: 0;
		left: calc(35% + 8px);
	}

	#texturingModal .modal-body .sticker .sticker-right {
		left: 61%;
	}

	#texturingModal .modal-body .sticker-container .sticker:nth-of-type(3n) .sticker-right {
		left: calc(61% + 3px);
	}

	#texturingModal .modal-body .sticker .sticker-description {
		font-size: 12px;
	}

	#texturingModal .modal-body .sticker .sticker-name {
		font-size: 14px;
		font-weight: 700;
	}


	#texturingModal .modal-body .sticker .sticker-mid > div {
		height: 34px;
		background-color: yellow;
		-webkit-print-color-adjust: exact;
	}

	#texturingModal .modal-body .sticker div.sticker-mid-bottom {
		background-color: #5f8ef1;
	}

	#texturingModal .modal-body > div {
		display: none;
	}

	#texturingModal .modal-body.active-texturing .texturing-container {
		display: block;
	}

	#texturingModal .modal-body.active-texturing .sticker-container {
		display: none;
	}

	#texturingModal .modal-body.active-sticker .sticker-container {
		padding-left: 40px;
		box-sizing: border-box;
	}

	.sticker-page-break {
		display: block;
		page-break-after: always;
	}
}