/* For rights see LICENSE.TXT */
#texturingModal .modal-body {
	font-family: "Times New Roman", Times, serif;
	margin: 0 auto;
	width: 700px;
	overflow: auto;
}
#texturingModal .modal-dialog {
	width: 900px;
}
#texturingModal .modal-body h2 {
	text-align: center;
	margin-bottom: 20px;
}

#texturingModal .modal-body h2 span.pallet {
	color: #FF5252;
}
.add-col {
	margin-top: 15px;
	margin-bottom: -7px;
	font-family: arial;
}
#load-signature-bttn,
#save-signature-bttn {
	float:right;
	margin-top:-20px;
	z-index:999;
}

#texturingTable {
	margin: 0px auto;
	margin-bottom: 20px;
	margin-top: 2px;
	width: 100%;
	position: relative;
	background-color: #FFF;
}

#texturingTable thead th {
	font-size: 20px !important;
	color: #000;
}

#texturingTable td, #texturingTable th {
	border: 1px solid #000;
	text-align: left !important;
	padding-left: 5px;
}

#texturingTable td.nr {
	font-size: 20px;
	width: 50px;
}
#texturingTable td.shift {
	width: 400px;
}
#texturingTable td.mtd {
	width: 120px;
}
#texturingTable td.new-td {
	max-width: 100px;
	font-size: 18px;
}
#remove-col-bttn{
	float: right;
	margin-top: 2px;
	margin-right: 2px;
}

#texturingDateTable {
	margin-top: 20px;
	margin-bottom: 20px;
}
#texturingDateTable td{
	width: 130px;
}

#texturingHeaderTable {
	width: 100%;
}
#texturingHeaderTable td {
	border: 1px solid #000;
	height: 70px;
}

#texturingHeaderTable .header-img {
	width: 120px;
}
#texturingHeaderTable .header-img img {
	width: 90px;
	height: auto;
	margin: 0px auto;
	margin-left: 14px;
}
#texturingHeaderTable .header-mid {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#texturingHeaderTable .header-left {
	width: 180px;
	padding-top: 5px;
	padding-left: 10px;
}

.header-left .level-1 {
	font-size: 12px;
}
.header-left .level-2 {
	font-size: 10px;
	margin-left: 68px;
}
.header-left .level-3 {
	margin-left: 49px;
}
.header-left .level-4 {
	font-size: 10px;
	margin-left: 68px;
}
#texturingComment {
	display: none;
}
#footer {margin-top: 3px;}
#footer td{
	border: 1px solid #000;
	height: 30px;
}
#footer .left-foot {
	width: 550px;
	font-size: 10px;
	text-align: center;
}
#footer .right-foot {
	width: 150px;
	font-size: 12px;
	text-align: center;
}

#productsTable td {
	height: 27px !important;
	vertical-align: inherit;
}

.selectedRow {
	outline: rgb(199, 219, 199) solid 5px;
}
.errorRow {
	outline: rgba(255,0,0,0.5) solid 5px;
}

.printing-table {
	display: none;
}

#print-sticekrs-bttn .glyphicon-paste:before {
	margin-left: 2px;
}

#texturingModal .modal-body .sticker-container {
	width: 100%;
}

#texturingModal .modal-body .sticker {
	padding: 0 12px 32px;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex: 1;
	flex-grow: 1;
	width: 33%;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#texturingModal .modal-body .sticker:nth-child(n+10) {
	display: none;
}

#texturingModal .modal-body .sticker > div {
	width: 33%;
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
}

#texturingModal .modal-body .sticker .sticker-description {
	font-size: 10px;
}

#texturingModal .modal-body .sticker .sticker-name {
	font-size: 12px;
	font-weight: 700;
}

#texturingModal .modal-body .sticker .sticker-mid {
	padding: 0 4px;
}

#texturingModal .modal-body .sticker .sticker-mid > div {
	height: 20px;
	background-color: yellow;
}

#texturingModal .modal-body .sticker div.sticker-mid-bottom {
	height: 20px;
	background-color: #5f8ef1;
}

#texturingModal .modal-body > div {
	display: none;
}

#texturingModal .modal-body.active-texturing .texturing-container {
	display: block;
}

#texturingModal .modal-body.active-sticker .sticker-container {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#texturingModal .modal-body.active-sticker .sticker-container-position {
	display: block;
	margin-bottom: 16px;
}

#texturingModal .modal-body.active-sticker .sticker-container-position input {
	display: inline-block;
	width: 32%;
	margin-right: 6px;
}

#texturingModal .modal-body.active-sticker ~ .modal-footer #print-sticekrs-bttn {
	display: none;
}

#texturingModal .modal-body.active-sticker ~ .modal-footer #texturing-back {
	display: none;
}

#texturingModal .modal-body.active-sticker ~ .modal-footer #print-bttn{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

#texturingModal .modal-body.active-texturing ~ .modal-footer #sticker-count {
	display: none;
}

#texturingModal .modal-body.active-texturing ~ .modal-footer #sticker-back {
	display: none;
}

#texturingModal #sticker-count {
	display: inline-block;
	width: 120px;
	margin-left: -4px;
	vertical-align: bottom;
	margin-right: 20px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
