<!--  For rights see LICENSE.TXT -->
<a href="#" class="cd-top">Top</a>
<footer class="footer">
    © 2024 - Jānis Mateuss
</footer>
</body>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap-confirmation.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/unittests.js"></script>